.DS_Store
*.swp
*~.nib

build/*
*.mode2v3
*.mode1v3

*.pbxuser
*.perspective
*.perspectivev3

xcuserdata
dropbox.plist
DropboxApiKey.h

todo.txt-touch-ios.xcodeproj/xcuserdata/*
todo.txt-touch-ios.xcodeproj/project.xcworkspace/xcuserdata/*
