<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
 
 Todo.txt Touch/res/values/sample-dropbox.xml
 
 Copyright (c) 2009-2011 Gina Trapani
 
 LICENSE:
 
 This file is part of Todo.txt Touch, an Android app for managing your todo.txt file (http://todotxt.com).
 
 Todo.txt Touch is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
 License as published by the Free Software Foundation, either version 2 of the License, or (at your option) any
 later version.
 
 Todo.txt Touch is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 details.
 
 You should have received a copy of the GNU General Public License along with Todo.txt Touch.  If not, see
 <http://www.gnu.org/licenses/>.
 
 @author Gina Trapani <ginatrapani[at]gmail[dot]com>
 @license http://www.gnu.org/licenses/gpl.html
 @copyright 2009-2011 Gina Trapani
 -->

<plist version="1.0">
<dict>
	<key>dropbox_consumer_key</key>
	<string>Enter your Dropbox app consumer key here</string>
	<key>dropbox_consumer_secret</key>
	<string>Enter your Dropbox app consumer secret here</string>
</dict>
</plist>
