<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Todo.txt</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>date_new_tasks_preference</string>
			<key>Title</key>
			<string>Date New Tasks</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>show_task_age_preference</string>
			<key>Title</key>
			<string>Show Task Age</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>windows_line_breaks_preference</string>
			<key>Title</key>
			<string>Windows Line Breaks</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Badge Count</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Key</key>
			<string>badgeCount_preference</string>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>any</string>
				<string>anyPriority</string>
				<string>priorityA</string>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Incomplete tasks</string>
				<string>Prioritized tasks</string>
				<string>Priority A tasks</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>None</string>
				<string>All Open</string>
				<string>Prioritized</string>
				<string>Priority (A)	</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Archive</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto Archive</string>
			<key>Key</key>
			<string>auto_archive_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Archive Now</string>
			<key>Key</key>
			<string>archive_button</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Dropbox</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>manual_sync_preference</string>
			<key>Title</key>
			<string>Manual Sync</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>/todo</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>file_location_preference</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>File Location</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>logout_button</string>
			<key>Title</key>
			<string>Log out of Dropbox</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>about_todo</string>
			<key>Title</key>
			<string>About Todo.txt Touch</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
